<div xmlns:svg="http://www.w3.org/1999/html">
  <h1>{{title}}</h1>
<svg width="1024" height="1024">
  <use xlink:href="/assets/E1M1.svg#map"></use>
  <svg:circle *ngFor="let player of players" r="5" [attr.cx]="player.position.x"
              [attr.cy]="player.position.y" stroke="black" fill="red" />
  <svg:line class="door" *ngFor="let door of doors"
              [attr.x1]="door.line.v1.x"
              [attr.y1]="door.line.v1.y"
              [attr.x2]="door.line.v2.x"
              [attr.y2]="door.line.v2.y"/>
  <svg:rect *ngFor="let obj of worldObjects" [attr.x]="obj.position.x"
              [attr.y]="obj.position.y" width="10" height="10" fill="grey"
            [attr.class]="'obj' + obj.typeId"/>
</svg>
</div>
